@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Movies</h2>
@if (!Model.Any())
{
    <p>No movies to show.</p>
}
else
{
    <head>
        <style>
            table, th, td {
                border: 1px solid black;
            }
        </style>
    </head>
    <table	width="100%" class=“table	table-striped table-hover ”>
        <thead>
            <tr>
                <th scope="col">Movie</th>
                <th scope="col">Genre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                string rowType = movie.Id % 2 != 0 ? "table-dark" : "table-light";
            <tr class=@rowType>
                <td>@Html.ActionLink(movie.Name, "Details", "Movies", new { id = movie.Id }, null)</td>
                <td scope="row">@movie.Genre.Name</td>
            </tr>
            }
            
        </tbody>

    </table>


}
